@import "./apps/keep/note-preview.css";
@import "./books/books.css";
@import "./parts/base.css";
@import "./parts/fonts.css";
@import "./parts/helpers.css";
@import "./cmps/app-about.css";
@import "./cmps/app-home.css";
@import "./cmps/user-msg.css";
@import "./cmps/app-header.css";
@import "./apps/keep/note-add.css";

body {
    background-color: rgb(231, 229, 179);
    font-family:Arial, Helvetica, sans-serif;
}