@import "./apps/keep/note-preview.css";
@import "./books/books.css";
@import "./parts/base.css";
@import "./parts/fonts.css";
@import "./parts/helpers.css";
@import "./cmps/app-about.css";
@import "./cmps/app-home.css";
@import "./cmps/user-msg.css";
@import "./cmps/app-header.css";
@import "./apps/keep/note-add.css";
@import "./apps/keep/keep-app.css";
@import "./apps/keep/note-list.css";
@import "./parts/fonts.css";
@import "./apps/keep/note-style.css";
@import "./apps/keep/note-filter.css";

* {
    box-sizing: border-box;
}


   
body {
    background-color: white;
     margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}