@import "./apps/keep/note-preview.css";
@import "./books/books.css";
@import "./parts/base.css";
@import "./parts/fonts.css";
@import "./parts/helpers.css";
@import "./cmps/app-about.css";
@import "./cmps/app-home.css";
@import "./cmps/user-msg.css";
@import "./cmps/app-header.css";
@import "./apps/keep/note-add.css";
@import "./apps/mail/email-preview.css";
@import "./apps/mail/email-app.css";
@import "./apps/mail/email-list.css";
@import "./apps/mail/main-mail.css";
/* flex helpers  */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex .auto {
    flex: auto;
}

body {
    background-color: rgb(231, 229, 179);
    font-family: Arial, Helvetica, sans-serif;
}