@import "./apps/keep/note-preview.css";
@import "./books/books.css";
@import "./parts/base.css";
@import "./parts/fonts.css";
@import "./parts/helpers.css";
@import "./cmps/app-about.css";
@import "./cmps/app-home.css";
@import "./cmps/user-msg.css";
@import "./cmps/app-header.css";
@import "./apps/keep/note-add.css";
@import "./apps/keep/keep-app.css";
@import "./apps/keep/note-list.css";
@import "./parts/fonts.css";
@import "./apps/keep/note-style.css";
@import "./apps/keep/note-filter.css";
@import "./apps/mail/email-compose.css";
@import "./apps/mail/email-preview.css";
@import "./apps/mail/email-app.css";
@import "./apps/mail/email-list.css";
@import "./apps/mail/email-folder-list.css";
@import "./apps/mail/email-filter.css";
@import "./apps/mail/main-mail.css";
@import "./apps/keep/main-layout.css";
@import "./cmps/app-bottom.css";
@import "./apps/mail/email-sort.css";

* {
    box-sizing: border-box;
}


   
body {
    background-color: white;
    height: 100vh;
     margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}