.email-app {
    background-color:white;
    height: 100vh;
    margin-top: 30px;
}

.email-app .side {
    width: 120px;
}

.email-app .compose-btn {
    background-color: #ffff;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
}

.email-app .compose-btn:hover {
    background-color: #f8dede;
}