.home {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  color: rgb(39, 130, 221);
  font-family: fantasy;
  font-size: 55px;
}
.home h2 {
  color: grey;
}
.home span {
  color: floralwhite;
  font-family: fantasy;
  font-size: 55px;
}
