.note-list{
   flex-direction: column;
    text-align: center;
    justify-content: space-between;
   
}

.note-add{
justify-content:space-between;
}

.note-prev{
    justify-content: space-between;
    margin: 6px;
}

.notes-pin{
Break-inside:avoid-column
}

.notes-for-display{
    grid-template-columns:repeat(3,auto);
}

.notes-no-pin{
    margin-top: 400px;
    Break-inside:avoid-column
}


