.note-list{
   flex-direction: column;
    text-align: center;
    justify-content: space-between;
   
}

.note-add{
justify-content:space-between;
}

.note-prev{
    justify-content: space-between;
}
