.note-list{
   flex-direction: column;
    text-align: center;
    justify-content: space-between;
   
}

.note-add{
justify-content:space-between;
}

.note-prev{
    justify-content: space-between;
}

.notes-pin{
Break-inside:avoid-column
}

.notes-for-display{
   grid-column:3 250px;
}

.notes-no-pin{
    margin-top: 500px;
    Break-inside:avoid-column
}


.other-comment{
    margin-top: 500px;
    
}