

h1{
    color: darkcyan;
    font-size: 30px;
    font-family:cursive;
    cursor: pointer;
}
.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 10px;
}
.book-preview {
    background-color: rgba(183, 214, 231, 0.842);

    width: 250px;
    box-shadow: rgba(76, 33, 94, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.sale{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

img{
    width: 150px;
    height: 200px;
}



.aboutpic{
    width:400px;
    border-radius: 100px;
    height: 300px;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    
}

#review{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgba(89, 133, 133, 0.836);
    color: rgb(255, 255, 255);
}

#submit{
    width: 50px;
    height: 20px;
    margin-bottom: 10px;
}